body {
  font-family: papyrus;
  background-image: url(./sand-image.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-family: papyrus;
  font-style: italic;
  font-size: 44px;
  text-align: center;
  line-height: 100px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}
#sandboxes-container {
  display: flex;
  justify-content: space-evenly;
}

#sandboxes-container > * {
  height: 100%;
  width: 30%;
  padding: 20px;
  background-color: #333;
  border: 2px solid black;
  border-radius: 25px;
  color: darkgray;
  text-align: center;
}
