body {
  font-family: sans-serif;
  background-image: url(./sandbox-image.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  font-family: papyrus;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
